<div class="social-login-buttons">
  <small>Login with</small>
  <div class="button-row">
    <button class="btn btn-google btn-block btn-block login">
      <span class="glyph icon-iconos-17"></span>
      Google +
    </button>
  </div>
  <div class="button-row">
    <button class="btn btn-facebook btn-block login">
      <span class="glyph icon-iconos-19"></span>
      Facebook
    </button>
  </div>
  <div class="button-row">
    <button class="btn btn-twitter btn-block login">
      <span class="glyph icon-iconos-18"></span>
      Twitter
    </button>
  </div>
  <div class="button-row" data-hook="already-registered">
    <div class="login description">
      <p>Already registered?
        <a href="#"><span>Login</span></a>
      </p>
    </div>
  </div>
</div>
