<form class="amp-form">
  <fieldset class="form-group" data-hook="fieldset-container"> </fieldset>
  <div class="form-group col-xs-12">
    <div data-hook="buttons-container"> </div>
  </div>
</form>
