<form class="form-buttons">
  <div data-hook="dropzone" action="#" class="dropzone">
    <div class="dz-message needsclick">
      <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
      <h3 class="orange">Upload File</h3>
      <h4>Drag &amp; Drop</h4>
      <p>your file or <span>browse</span></p>
      <p><span><small>Supported formats: txt, pdf, zip</small></span></p>
    </div>
  </div>
  <div class="separator"></div>
  <button data-hook="save-button"
    type="submit" class="btn btn-primary">
    UPLOAD
  </button>
</form>
