<label>
    <input class="form-input">
    <span data-hook="label"></span>
    <span>I agree to the
      <a href="/termsandconditions">Terms of Use</a>
      and
      <a href="/privacypolicy">Privacy Policy</a>
    </span>
    <div data-hook="message-container" class="message message-below message-error">
        <p data-hook="message-text"></p>
    </div>
</label>
