<div class="row">
  <div data-hook="alert-container"></div>
  <div class="col-sm-5" data-hook="social-container"></div>
  <div class="col-sm-1"><span>Or</span></div>
  <div class="col-sm-6">
    <div data-hook="form-container"></div>
    <div data-hook="buttons-container"></div>
  </div>
</div>
