<div class="container">
  <p><span>Copyright © 2016 Interactar</span></p>
  <p>
      <span>Follow us </span>
      <a class="social-link twitter-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a class="social-link facebook-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  </p>
  <p>
    <small>
      <a class="footer-link" href="/termsandconditions">Terms and Conditions</a>
      <span> - </span>
      <a class="footer-link" href="/privacypolicy">Privacy Policy</a>
  </p>
</div>
