<li class="dropdown relative profileMenuItem">
  <a class="toggle" data-toggle="dropdown">
    Hi, <span data-hook="fullname"></span>
    <img data-hook="avatar">
  </a>
  <ul class="dropdown-menu"
    aria-labelledby="profile-dropdown">
    <li><a href="/myprofile">Profile</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</li>
