<li class="dropdown">
  <a href="#" class="dropdown-toggle navbar-profile-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Hi, <span data-hook="fullname"></span>
    <img data-hook="avatar" class="navbar-avatar">
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="profile-dropdown">
    <li><a href="/myprofile">Profile</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</li>
