<div class="profile settings firstSection profile-banner">
  <div data-hook="edit-cover" class="fileUpload gray editCover">
    <a href="#" data-hook="edit-profile-cover" class="draftIcon rectangle-cover">
      <i class="fa fa-pencil" aria-hidden="true"></i>edit
    </a>
  </div>
  <div>
    <img class="landscape" src="" data-hook="profile-cover-image" class="profile-banner-image"/>
    <div class="row">
      <div class="col-xs-12 col-sm-3 settingsPic text-center">
        <div class="fileUpload gray">
          <img data-hook="profile-avatar-image" src="/images/profile.png" class="avatar">
          <span data-hook="edit-profile-avatar">
            <i class="fa fa-pencil"></i>edit
          </span>
        </div>
      </div>
      <div class="data col-xs-12 col-sm-9 relative">
        <form>
          <h1>
            <span title="See full information" data-hook="name" class="pointer"></span>
          </h1>
          <span data-hook="small_description"></span>

					<div data-hook="social-icons" class="profile-actions profile-actions-buttons dropup">
						<a class="action dropdown-toggle"
							type="button"
							id="dropdownMenu1"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="true">
              <span  style="font-size: 28px;">
                <span data-hook="icon" class="fa fa-share-alt" title="Share"></span>
              </span>
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        	<span class="caret caret-up"></span>
							<a class="glyph icon-iconos-17" data-hook="share-google" href="#"></a>
							<a class="glyph icon-iconos-18" data-hook="share-twitter" href="#"></a>
							<a class="glyph icon-iconos-19 last" data-hook="share-facebook" href="#"></a>
						</div>
					</div>
        </form>
      </div>
    </div>
  </div>
</div>
