<div class="">
  <label data-hook="label"></label>
  <input class="form-input form-control">
  <div data-hook="message-container"
    class="message message-below message-error">
    <p data-hook="message-text"></p>
  </div>
</div>
