<div class="form-buttons">
  <button type="button"
    class="btn btn-default"
    data-dismiss="modal"
    data-hook="cancel">
  </button>
  <button type="button"
    class="btn btn-primary"
    data-hook="confirm">
  </button>
</div>
