<div class="registration-page">
  <div class="container">
    <h1>Thanks for Register!</h1>
    <h2>Please check your email box, you will receive a confirmation email soon. After the email confirmation, you will be asked to log in.</h2>
  </div>
</div>
