<div data-hook="alert-type" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong data-hook="title"></strong> <span data-hook="message"></span>
</div>
