<div>
  <ul class="nav nav-tabs" role="tablist">
    <li data-hook="bio-tab" role="presentation" class="active">
      <a href="#bio" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">BIOGRAPHY</a>
    </li>
  </ul>
  <!-- TAB PANES -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="bio">
      <div data-hook="bio-form-container">
      </div>
    </div>
  </div>
</div>
