<div class="signin-modal-form">
  <div class="col-sm-5" data-hook="social-container"></div>
  <div class="col-sm-1"><span>OR</span></div>
  <div class="col-sm-6" data-hook="email-container">
    <div data-hook="form-container"></div>
    <small><a class="link" data-hook="password-reset" href="#">Forgot your password?</a></small>
    <div class="modal-buttons" data-hook="buttons-container"></div>
  </div>
</div>
