<div class="home-page">
  <div class="spa-welcome-page">
    <h1>Interactar SPA boilerplate</h1>
    <p class="lead">This is the beggining</p>
  </div>

  <!-- <div class="container"></div> -->
</div>
